@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* We are forcing light mode aesthetic for this fintech POC for that premium clean look */
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer base {
  body {
    @apply text-gray-900 antialiased;
  }
}

/* Custom transitions */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
